.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}



@media(min-width: 768px){
    .alert-height {
        margin-left: 25%;
    }

    .alert-width {
        flex: 0 0 auto;
        width: 50%;
    }
}

#alertInfo{
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}