<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no" />
    <title>Quick Credit | Client Account</title>
    <link th:href="@{/css/responsive.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/savings.css}" rel="stylesheet" />

<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"-->
<!--          rel="stylesheet"-->
<!--          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"-->
<!--          crossorigin="anonymous">-->
</head>
<body>

<div class="navigation">
    <div class="header">
        <div class="logo with-bars">
            <h2><a href="login.html">Quick Credit</a></h2>
            <div class="tree-bars" onclick="toggleLeftMenu()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a class="account-link" onclick="toggleRightMenu()">
                        <img class="circle profile-pic" th:src="@{/images/default-avatar.png}" alt="user"/>
                        <span class="username"><span class="usernm">N.Herve</span> <i class="caret">&#9660;</i></span>
                    </a>
                    <ul class="drop-content" id="right-menu">
                        <li><a href="profile.html">My Profile</a></li>
                        <!--                            <hr>-->
                        <li><a th:href="@{/logout}" >Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="aside" id="aside">
        <ul onclick="myFunction(event)">
            <li><a href="/account" class="active">Dashboard</a></li>
            <li><a href="/account/savings">Savings Account</a></li>
            <li><a href="/account/withdraws">Withdraws</a></li>
            <li><a href="/account/deposits">Deposits</a></li>
            <li><a href="/account/loan-request">Request a Loan</a></li>
            <li><a href="/account/all-loans">All requested loans</a></li>
            <li><a href="/account/loan-repayment">Repayment history</a></li>
        </ul>
    </div>
    <div class="content" id="content">
        <div id="client">
            <div id="current-pages">
                <ul class="current-page">
                    <li class="active"> <b>My account | Client ID: #
                        <span
                            th:text="${user != null } ? ${user.id} : 'NO USER'" >
                        </span> </b>
                        <label class="label green-label">verified</label>
                    </li>
                </ul>
            </div>
            <div class="back-card">
                <div th:if="${myaccount == null}">
                    <section class="hero">
                        <h1 class="hero-title">Save Money, Reduce Problems!</h1>
                        <p class="hero-paragraph">
                            Open a saving account to save money, this money is yours and you can withdraw it anytime.
                            Why saving on this platform?? Your savings can be used as collateral to get a Loan...
                        </p>

                        <div class="hero-callout">
                            <form
                                    method="post"
                                    role="form"
                                    th:action="@{/account/storeSavings}"
                                    th:object="${account}"
                                    style="display:inline!important;"
                            >
<!--                                <input type="number" name="id" th:value="${user.id}" hidden th:field="*{id}">-->
                                <button class="btn btn-home" id="hero-text"><span>Open Account &#8594;</span></button>
                            </form>
                        </div>

                    </section>

                </div>

                <div th:if="${myaccount != null }">
                    <table class="table table-bordered table-hover">
                        <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Balance</th>
                            <th>Book balance</th>
                            <th> Status </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text = "${myaccount.id}"></td>
                            <td th:text = "${myaccount.balance}"></td>
                            <td th:text = "${myaccount.bookBalance}"></td>
                            <td th:text = "${myaccount.status}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>



            </div>
        </div>
    </div>
</div>
<footer>
    <div class="copyright">
        <p>&copy; <script>document.write(new Date().getFullYear());</script> <a href="#">Quick Credit</a> All Rights Reserved</p>
    </div>
</footer>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>